@import "media";
// 页面元素rem计算公式： 页面元素的px / html 字体大小 50
$htmlFont: 50;
body {
    background: #606061;
}

// 头
header {
    height: 160px;
    .container {
        position: relative;
        background: #292929;
        height: 100%;
        .logo {
            position: absolute;
            top: 50%;
            left: 0;
            width: 245px;
            height: 80px;
            transform: translateY(-50%);
            background: url(../image/logo.png) no-repeat;
            h3 {
                font-size: 0px;
            }
        }
        .into {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            height: 50px;
            // border: 1px solid rebeccapurple;
            a {
                text-decoration: none;
                i {
                    display: inline-block;
                    margin-right: 20px;
                    font-size: 30px;
                    &:hover {
                        color: #c81623;
                        animation: rubberBand 1s linear;
                    }
                }
            }
        }
    }
}

// 导航
.nav {
    .container {
        background: #292929;
        height: 54px;
        border-bottom: 2px solid #ccc;
        ul {
            padding: 0;
            li {
                text-align: center;
                // width: 80px;
                padding: 0 20px;
                // margin: 0 20px;
                line-height: 50px;
                float: left;
                &:hover {
                    background: #ccc;
                }
                a {
                    font-size: 20rem/$htmlFont;
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
        .search {
            position: relative;
            width: 260px;
            height: 35px;
            input {
                width: 100%;
                height: 100%;
                padding: 0 10px;
                float: right;
                margin-top: 10px;
                background: #212122;
                border: 1px solid #ccc;
                color: #fff;
            }
            i {
                position: absolute;
                top: 15px;
                right: 27px;
                font: size 30px;
                color: #fff;
            }
        }
    }
}

// 尾部
footer {
    .left {
        margin-top: 30px;
        border-right: 1px solid #C3C3C3;
        ul li {
            padding: 5px;
            font-size: 16rem/$htmlFont;
        }
    }
    .right {
        display: flex;
        justify-content: space-around;
        align-items: center;
        a {
            text-decoration: none;
            text-align: center;
            .icondownload {
                font-size: 45px;
                color: #585F69;
            }
            .iconweibo {
                font-size: 45px;
                color: #FE596C;
            }
            .iconweixin {
                font-size: 45px;
                color: #42C86B;
            }
        }
    }
}